@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color: rgb(53, 122, 150);
    --primary-color-darker: rgb(21, 78, 100);
}
* {
    box-sizing: border-box;
    outline: 0;
}
body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    max-width: 25rem;
    margin: 15px auto;
    padding: 10px;
    border-radius: 1rem;

}
.container h1 {
    text-align: center;
    font-size: 30px;
}
.legenda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.legenda h2 {
    text-align: center;
    font-size: 15px;
}
.legenda p {
    font-size: 0.65rem;
}
#paragrafo-1 {
    border-right: 1px solid #000000;
    padding-right: 1rem;

}
form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
}
form input {
    font-size: 24px;
    height: 30px;
    padding: 0 20px;
}
form input:focus {
    outline: 1px solid var(--primary-color);
}
form button {
    background-color: var(--primary-color);
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    margin-top: 15px;
}
form button:hover {
    background-color: var(--primary-color-darker);
}
.resultado {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 20px;
}
.peso-normal {
    background-color: rgb(120, 224, 72);
}
.peso-atencao {
    background-color: rgb(238, 203, 7);
}
.obesidade-1{
    background-color: rgb(245, 118, 0);
    color: #ffffff;
}
.obesidade-2{
    background-color: rgb(255, 42, 4);
    color: #ffffff;

}
.obesidade-3{
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}
@media screen and (min-width: 280px){
    .legenda p {
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 330px){
    .legenda p {
        font-size: 1rem;
    }
    .legenda h2 {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 420px){
    .container {
        max-width: 50rem;
        width: 95%;

    }
    .container h1 {
        font-size: 2.5rem;
    }
    #paragrafo-1 {
        padding-right: 8px;
    }
    form input, form label, form button {
        max-width: 50rem;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    form input {
        height: 50px;
        padding: 0 20px;
    }
}
@media screen and (min-width: 576px){
    .legenda div {
        padding: 0 auto;
    }
    .legenda h2 {
        font-size: 2rem;
    }
    .legenda p {
        font-size: 1.5rem;
    }
    #paragrafo-1 {
        padding-right: 10px;
    }
}