@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color: rgb(53, 122, 150);
    --primary-color-darker: rgb(21, 78, 100);
}
* {
    box-sizing: border-box;
    outline: 0;
}
body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container {
    background-color: #ffffff;
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 1rem;

}
.legenda {
    display: flex;
    justify-content: space-around;
}
form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus {
    outline: 1px solid var(--primary-color);
}
form button {
    background-color: var(--primary-color);
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}
form button:hover {
    background-color: var(--primary-color-darker);
}
.resultado {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 20px;
}
.peso-normal {
    background-color: rgb(120, 224, 72);
}
.peso-atencao {
    background-color: rgb(238, 203, 7);
}
.obesidade-1{
    background-color: rgb(245, 118, 0);
    color: #ffffff;
}
.obesidade-2{
    background-color: rgb(255, 42, 4);
    color: #ffffff;

}
.obesidade-3{
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}