@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color: rgb(53, 122, 150);
    --primary-color-darker: rgb(21, 78, 100);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
html {
    display: flex;
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.page-bg {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 20px;

}
.container h1 {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}
form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
}
form input {
    font-size: 12px;
    height: 30px;
    padding: 0 5px;
}
form input:focus {
    outline: 1px solid var(--primary-color);
}
form button {
    background-color: var(--primary-color);
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    margin-top: 15px;
}
form button:hover {
    background-color: var(--primary-color-darker);
}
.resultado {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    max-width: 336px;
    align-items: center;
    padding: 20px;
    font-size: .55rem;
    font-weight: bold;
}
.peso-normal {
    background-color: rgb(49, 156, 0);
    color: #ffffff;
}
.peso-atencao {
    background-color: rgb(255, 217, 0);
    color: #161616;
}
.obesidade-1{
    background-color: rgb(255, 145, 0);
    color: #ffffff;
}
.obesidade-2{
    background-color: rgb(255, 42, 4);
    color: #ffffff;

}
.obesidade-3{
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}
.normal-bg {
    background-color: rgb(140, 223, 102);
}
.atencao-bg {
    background-color: rgb(253, 231, 108);
}
.obesidade-1-bg{
    background-color: rgb(243, 177, 90);
}
.obesidade-2-bg{
    background-color: rgb(236, 104, 80);
}
.obesidade-3-bg{
    background-color: rgb(250, 109, 109);
}
@media screen and (min-width: 330px){
    .resultado {
        font-size: .9rem;
    }
}
@media screen and (min-width: 420px){
    .container {
        max-width: 50rem;
        width: 95%;

    }
    .container h1 {
        font-size: 2.5rem;
    }
    form input, form label, form button {
        max-width: 50rem;
        font-size: 24px;
        margin-bottom: 20px;
    }
    form input {
        height: 50px;
    }
    .resultado {
        font-size: 1rem;
    }
}